.description-slide {
  background-image: url("../../assets/bg2.png");
  background-size: contain;
  background-position: 0 0;

  .content {
    padding-top: 84px;
    height: 100%;
    display: flex;
    flex-direction: column;
    isolation: isolate;

    .subheading {
      flex: none;
      margin-bottom: 52px;
    }

    .text-scroll-container {
      flex: 1 0 auto;
      display: flex;
      gap: 40px;
      position: relative;
    }

    .scroll {
      position: relative;
      width: 5px;
      flex: none;
      border-radius: 2.5px;
      background-color: black;
      margin-top: 32px;
    }

    .scroller {
      position: relative;
      right: 7.5px;
      top: -24px;
      width: 20px;
      height: 105px;
      border-radius: 10px;
      background-size: cover;
      background-image: url("../../assets/scroll-btn.png");
    }

    .scroll-text {
      font-size: 20px;
      font-family: "DINPro-Regular", sans-serif;
      max-height: 423px;
      line-height: 1.5;
      background-color: white;
      border-radius: 32px;
      box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.075);
      padding: 28px;
      overflow: hidden;
      position: relative;

      strong {
        font-family: "DINPro-Bold", sans-serif;
      }
    }

    .bottom-white-blur {
      content: "";
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 45px;
      width: calc(100% - 45px);
      height: 50px;
      background: linear-gradient(to top, white, transparent);
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
    }
  }

  .sperm {
    position: absolute;
    opacity: 0;
    transform: rotate(25deg);
  }

  .sperm1.animated {
    animation: sperm1 2s 0s ease-out 1 forwards;
  }

  .sperm2.animated {
    animation: sperm2 2s 300ms ease-out 1 forwards;
  }

  .sperm3.animated {
    animation: sperm3 2s 500ms ease-out 1 forwards;
  }

  .sperm4.animated {
    animation: sperm4 2s 800ms ease-out 1 forwards;
  }

  .sperm5.animated {
    animation: sperm5 2s 1000ms ease-out 1 forwards;
  }

  .sperm1 {
    width: 750px;
    top: 320px;
    right: -200px;
  }

  .sperm2 {
    width: 220px;
    top: 180px;
    right: -40px;
  }

  .sperm3 {
    width: 180px;
    bottom: 40px;
    right: -260px;
  }

  .sperm4 {
    width: 520px;
    bottom: 80px;
    right: -540px;
  }

  .sperm5 {
    width: 550px;
    top: 260px;
    right: -220px;
  }
}

@keyframes sperm1 {
  from {
    opacity: 0;
    transform: translate(0, 0) rotate(25deg);
  }

  to {
    opacity: 1;
    transform: translate(-150px, -100px) rotate(25deg);
  }
}

@keyframes sperm2 {
  from {
    opacity: 0;
    transform: translate(0, 0) rotate(25deg);
  }

  to {
    opacity: 0.4;
    transform: translate(-150px, -100px) rotate(25deg);
  }
}

@keyframes sperm3 {
  from {
    opacity: 0;
    transform: translate(0, 0) rotate(25deg);
  }

  to {
    opacity: 0.4;
    transform: translate(-150px, -100px) rotate(25deg);
  }
}

@keyframes sperm4 {
  from {
    opacity: 0;
    transform: translate(0, 0) rotate(25deg);
  }

  to {
    opacity: 0.6;
    transform: translate(-150px, -100px) rotate(25deg);
  }
}

@keyframes sperm5 {
  from {
    opacity: 0;
    transform: translate(0, 0) rotate(25deg);
  }

  to {
    opacity: 0.6;
    transform: translate(-150px, -100px) rotate(25deg);
  }
}
