.app-container {
  position: relative;
}

main {
  height: 100vh;
  width: 100vw;
}

nav {
  position: fixed;
  z-index: 99;
  left: 72px;
  top: 28px;

  .home-button {
    border: none;
    background-color: transparent;
  }

  img {
    height: 28px;
  }
}

footer {
  position: fixed;
  z-index: 99;

  bottom: 16px;
  left: 72px;

  img {
    height: 12px;
  }
}

p.subheading {
  text-transform: uppercase;
  font-size: 28px;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 72px;
}
