.app-container {
  position: relative;
}

nav {
  position: fixed;
  left: 72px;
  top: 28px;

  .home-button {
    border: none;
    background-color: transparent;
  }

  img {
    height: 28px;
  }
}

footer {
  position: fixed;

  bottom: 16px;
  left: 72px;

  img {
    height: 12px;
  }
}
